{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages" %}

{% set pageHeading = "NHS RSV notification" %}
{% set pageDescription = "Received 4 October 2023 at 6:30pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7">
        <p>We’re inviting you to get your free NHS respiratory syncytial virus (RSV) vaccine because you’re <b>aged 75 to 79 years</b> (or recently turned 80).</p>
      </div>
        <p><b></b>Why the NHS is offering you RSV vaccination</b></p>
              <p><RSV is a common respiratory virus that affects the lungs. Symptoms include a cough, sore throat and cold. Most people get better on their own, but older people are at increased risk of serious illness.</p>


    </div>
  </div>

  {% endblock %}
