{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/messages/your-messages" %}

{% set pageHeading = "NHS RSV notification" %}
{% set pageDescription = "Received 4 October 2023 at 6:30pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

        <p>We’re inviting you to get your free NHS respiratory syncytial virus (RSV) vaccine because you’re <b>aged 75 to 79 years</b> (or recently turned 80).</p>
      
        <p class="section-title">Why the NHS is offering you RSV vaccination</p>

       <p><RSV is a common respiratory virus that affects the lungs. Symptoms include a cough, sore throat and cold. Most people get better on their own, but older people are at increased risk of serious illness.</p>

        <p>Every year, thousands of people in your age group need hospital care for RSV infection. RSV can make it difficult to breathe and can lead to severe problems like pneumonia. In some cases, it can be life-threatening.</p>

        <p>Every year, thousands of people in your age group need hospital care for RSV infection. RSV can make it difficult to breathe and can lead to severe problems like pneumonia. In some cases, it can be life-threatening.</p>
        
         <p class="section-title">How to book your RSV vaccination</p>

         <p>To get your RSV vaccine at a community pharmacy now:</p>
         <ul>
        <li>Book a pharmacy appointment</li>
        <li>Find a pharmacy walk-in service</li>
    </ul>

    <p>Or you can attend your GP surgery when they offer you an appointment.</p>

<p>It’s more effective to have your RSV vaccination on a different day to your flu and COVID-19 vaccinations.</p>
    
    <p class="section-title">More information</p>
    
    <p>You only need 1 dose of the RSV vaccine for good, long-term protection. If you have already booked or had your RSV vaccination, you do not need to do anything else.</p>
    
    <p>Having your RSV vaccination will reduce your risk of getting severe symptoms. Get more information on RSV vaccination on <a href="https://www.nhs.uk">NHS.UK</a>. You can also read the guide to RSV vaccination for older adults on <a href="https://www.gov.uk">GOV.UK</a>.</p>
    
    <p>Information is available in easy read and other languages and formats.</p>
    
    <p><strong>NHS England Vaccination Team</strong></p>
</body>
</html>
 

  {% endblock %}
